@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.card {
  width: 600px;
  height: 420px;
  background: rgba(0, 0, 0, 0.248);
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}

.card .inputContainer {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .inputContainer input {
  width: 70%;
  height: 30%;
  margin-top: 1rem;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.57);
  border: 2px solid white;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: "Forum", cursive;
}

.card .inputContainer input:focus {
  border: 2px solid black;
  outline: none;
  background-color: white;
}

.card .inputContainer input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.542);
}

.card .inputContainer input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.542);
}

.card .inputContainer input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.542);
}

.card .inputContainer input::placeholder {
  color: rgba(0, 0, 0, 0.542);
}

.card .inputContainer .errorLenght {
  display: block;
  color: red;
  font-family: "Forum", cursive;
  margin-top: 0.2rem;
  height: 2px;
  visibility: visible;
  font-weight: 700;
  font-size: .9rem;
}

.card .inputContainer .hidden {
  visibility: hidden;
}

.card .container-info {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .container-info .country-info p,
.card .container-info .weather-info p,
.card .container-info .weather-info2 p {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-family: "Poiret One", cursive;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}

.card .container-info .country-info {
  font-size: 2.3rem;
  width: 100%;
  margin: 0.6rem;
}

.card .container-info .weather-info {
  font-size: 1.5rem;
  margin: 0.4rem;
}

.card .container-info .weather-info2 {
  font-size: 1.1rem;
  margin: 0.4rem;
}

.svgCont {
  width: 50%;
  text-align: center;
  margin-top: 2rem;
}

.svgCont img {
  width: 100%;
}

.container-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65%;
}

.loaderCont {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  background-color: black;
}

.loaderCont p {
  position: absolute;
  bottom: 100px;
  margin-left: 2.5rem;
  display: inline-block;
  font-size: 3rem;
  text-align: center;
}

.loaderHidden {
  display: none;
}

.loaderHidden .loader__ImgHidden {
  display: none;
}

.widgetError {
  position: absolute;
  min-width: 30%;
  max-width: 50%;
  min-height: 130px;
  top: 20px;
  padding: 20px;
  padding-top: 2.5rem;
  -webkit-transform: translateY(-450%);
          transform: translateY(-450%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffffe6;
  border: 1px solid #000000;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poiret One", cursive;
  border-radius: 20px;
  visibility: hidden;
}

.github {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
}

.github img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.github img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  body {
    max-height: 100vh;
    overflow: hidden;
  }
  .card {
    margin: 1rem;
    margin-top: 5rem;
  }
  .card .inputContainer input {
    width: 90%;
    font-size: 1rem;
  }
  .card .svgCont {
    width: 100%;
    margin-top: 1em;
  }
  .card .svgCont img {
    width: 40%;
    text-align: center;
  }
  .card .container-main-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card .container-info {
    width: 100%;
    text-align: center;
  }
  .card .container-info .country-info p,
  .card .container-info .weather-info p,
  .card .container-info .weather-info2 p {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-family: "Poiret One", cursive;
    margin: 0.3rem 0;
  }
  .card .container-info .country-info {
    width: 100%;
    margin: 0;
    margin-top: 0.3rem;
  }
  .card .container-info .country-info p {
    font-size: 2rem;
    margin: 0.5 0;
  }
  .card .container-info .weather-info {
    font-size: 1.2rem;
    margin: 0.6rem;
  }
  .card .container-info .weather-info p {
    font-size: 1.2rem;
  }
  .card .container-info .weather-info2 {
    font-size: 1.2rem;
  }
  .widgetError {
    max-width: 96%;
    min-height: 15%;
    padding: 10px;
    font-size: 1rem;
    top: 5px;
    z-index: 20;
  }
}
/*# sourceMappingURL=styles.css.map */